appdirs==1.4.3
beautifulsoup4==4.7.1
certifi==2019.6.16
chardet==3.0.4
Deprecated==1.2.5
docutils==0.14
docutils-stubs==0.0.21
idna==2.8
invoke==1.2.0
numpy==1.16.4
Pillow==6.2.0
PyGithub==1.43.7
Pygments==2.4.2
PyJWT==1.7.1
Pypubsub==4.0.3
pywin32==224
rellu==0.7
requests==2.22.0
six==1.12.0
soupsieve==1.9.2
tqdm==4.32.20
urllib3==1.25.3
webdrivermanager==0.7.4
wrapt==1.11.2
wxPython==4.0.6
